In [2]:
import mysql.connector
from mysql.connector import Error

#RDS info
host = "database-2.cxyce2ii8umg.ap-southeast-2.rds.amazonaws.com" #mysql workbench에 연결할 때 썼던 그 aws엔드포인트입니다.
port = 3306 #포트번호는 손대지않으셨다면 3306 고정
username = "minjae" #rds 만드실 때 입력하셨던 이름
database = "rag" #RDS DB내에서 연결하고싶은 데이터베이스 이름입니다.
#workbench연결만 하신분들은 workbench에 들어가서 연결해둔 aws rds에 접속하여 CREATE DATABASE name 하시면 생성됩니다.
password = "lovepool03"


db_config = {
    'host': host,
    'user': username,
    'password': password,
    'database': database,
    'port': port
}

In [ ]:
table_query = """
    CREATE TABLE IF NOT EXISTS sample (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255) NOT NULL,
        price DECIMAL(10, 2) NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    )
"""

테이블이 성공적으로 삭제되었습니다.

연결이 종료되었습니다.

In [2]:
from rds import DatabaseManager

dm = DatabaseManager()


table_query = """
    CREATE TABLE IF NOT EXISTS sample (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255) NOT NULL,
        price DECIMAL(10, 2) NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    )
"""
# dm.create_table(table_query)
# dm.check_tables_in_db()

data = {
    'name': "테이블",
    'price': 300000
}

dm.insert_data("products", data)
dm.check_table_data("products")

생성된 쿼리: INSERT INTO products (`name`, `price`) VALUES (%s, %s)

'products' 테이블에 데이터가 성공적으로 삽입되었습니다.
삽입된 행의 ID (Auto_Increment): 2

연결이 종료되었습니다.

--- 'products' 테이블 데이터 ---
id: 1
name: 노트북
price: 12000000.00
created_at: 2025-06-24 10:48:56
id: 2
name: 테이블
price: 300000.00
created_at: 2025-06-24 16:09:46
---------------------------------

연결이 종료되었습니다.